html, body {
  height: 100%;
  width: 100%;
}

* {
  font-family: sans-serif;
  border-sizing: border-box;
  }

body {
  background-color:#ffebeb;
} 

#title {
  position: relative;
  background-color: #eec9c9;
  float: left;
  top: -15px;
  left: -15px;
  height: 12vh;
  width: 125vh;
  border-bottom: 1px solid;
}

#title h1 { z-index: 2;
  position: relative;
  top: -15px;
  left: 15px;
}

#links { z-index: 2;
  width: 100vh;
  height: 12vh;
  background-color: #ffffff;
  float: left;
  left: 50%;
  position: absolute;
  left: 121vh;
  top: -15px;
  border-bottom: 1px solid;
}
#links a{ z-index: 2;
  position: relative;
  left:20px;
  top:40px;
  text-decoration: none;
}
a#two{
  position:relative;
  left: 50px
}
a#three{
  position:relative;
  left: 80px
}
span {
  background: linear-gradient(to left,#e83ba8, #231ff4, #00abc2, #fcc203, #e13737););
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div#header {
  position: fixed;
}
li {
  font-size: 12px;
}
footer {
  position:relative;
  clear: left;
  background-color: gray;
  bottom:-5px;
  left:-10px;
  height:30vh
}

footer p, ul{
  position:relative;
  bottom:-25px;
  left:10px;
}

#icon {
  position:relative;
  top:10px;
}
